@import "variables";
@import "login";
@import "component.scss";
@import "global.scss";
.article {
    padding: 20px;

    h1 {
        font-size: 26px;
        font-weight: 400;
        margin: 12px 0;
    }

    h2 {
        margin: 25px 0 12px;
        font-size: 20px;
        font-weight: 400;
    }

    h3 {
        font-size: 16px;
        font-weight: 400;
    }

    p {
        font-size: 14px;
        margin: 5px;
    }

    ul {
        padding-left: 40px;
    }

    li {
        list-style-type: disc;
        margin-bottom: 5px;
        font-size: 14px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        border: 1px solid #e9e9e9;
        width: 500px;
        margin-bottom: 24px;
    }

    th,
    td {
        border: 1px solid #e9e9e9;
        padding: 8px 16px;
        text-align: left;
    }
}
.ui-table-tbody > tr > td, .ui-table-thead > tr > th {
    padding: 8px;
}
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.pb20 {
    padding-bottom: 20px;
}
.pr20 {
    padding-right: 20px;
}
.pt20 {
    padding-top: 20px;
}
.pl20 {
    padding-left: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.mt20 {
    margin-top:20px;
}
.m10 {
    margin: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mt10 {
    margin-top: 10px;
}
.mr10 {
    margin-right: 10px;
}
.ml10 {
    margin-left: 10px;
}
.textCenter {
    text-align: center;
}
.inline-block {
    display: inline-block;
}
.border1px {
    border: 1px solid #e3e8ee;
}
.fr {
    float: right;
}
.flex {
    display: flex;
}
.pointer {
    cursor: pointer;
}
.loading-layout {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 70px !important;
    width: 70px !important;
}
.loading-content {
    position: relative;
}

.layout-right .layout-right-header {
    height: 48px;
    line-height: 48px;
}

.button-container {
    position: absolute;
    bottom: 10px;
    right: 0;
}